@page "/login"
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Sign In - EMDb</PageTitle>
<div class="container-xxl p-5 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6">
            <h3>Sign In</h3>
            <EditForm Model="@_user" FormName="loginuser" OnSubmit="HandleSubmit">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <InputText id="name" @bind-Value="_user.Name" class="form-control" style="width: 300px;" />
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <InputText id="Password" @bind-Value="_user.Password" Type="password" class="form-control" style="width: 300px;" />
                    </div>
                    <button type="submit" class="btn btn-hover"><span>Sign In</span></button>
                </form>
            </EditForm>
        </div>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    private User _user { get; set; } = new User(string.Empty);

    public bool NoUserAlert { get; set; }
    public bool FillAllAlert { get; set; }
    private readonly Database _database = new Database();

    private async Task HandleSubmit()
    {
        FillAllAlert = false;
        NoUserAlert = false;

        if (string.IsNullOrWhiteSpace(_user.Name) || string.IsNullOrWhiteSpace(_user.Password))
        {
            FillAllAlert = true;
            return;
        }

        bool userExists = await _database.CheckUserExistenceAsync(_user);
        bool passCorr = await _database.CheckUserPasswordAsync(_user);

        if (userExists && passCorr)
        {
            Globals.isLoggedIn = true;
            NavigationManager.NavigateTo("/");
        }
        else
        {
            NoUserAlert = true;
        }
    }
}

@if (NoUserAlert)
{
    <br />
    <div class="alert alert-danger fade-in" role="alert">
        User doesn't exist or the password is incorrect.
    </div>
}

@if (FillAllAlert)
{
    <br />
    <div class="alert alert-danger fade-in" role="alert">
        Please fill in all the fields.
    </div>
}
