@page "/movies"
@using MoviesDB.Models
@using MoviesDB.Components.UI
@inject NavigationManager NavigationManager

<PageTitle>Movies</PageTitle>

<div class="hero-section">
    <!-- HERO SLIDE -->
    <div class="hero-slide">
        <div class="owl-carousel carousel-nav-center" id="hero-carousel">
            <!-- SLIDE ITEM -->
            <div class="hero-slide-item">
                <img src="./images/main_banner.jpg" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            Discover Your Favorite Movies
                        </div>
                        <div class="movie-infos top-down delay-2">
                        </div>
                        <div class="item-content-description top-down delay-4">
                            You can discover your favorite movies or add new movies
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-movies-slide">
    <div class="owl-carousel" id="top-movies-slide">
        @foreach (Movie movie in MovieSummary.GetMovies())
        {
            <MovieCard Movie="movie" />
        }
    </div>
</div>

@code {
    public MovieSummary MovieSummary = new MovieSummary();
}
