@page "/profile"
@using Models
@inject NavigationManager NavigationManager 

<PageTitle>Profile - EMDb</PageTitle>
<div class="container-xxl p-5">
    @if (Globals.isLoggedIn == false)
    {
        <h1>Sign In or Sign Up</h1>
        <EditForm Model="@_user" FormName="login" OnSubmit="HandleLogin">
            <form>
                <div>
                    <br />
                    <button type="submit" class="btn btn-hover" style="width: 150px;"><span>Sign In</span></button>
                </div>
            </form>
        </EditForm>
        <EditForm Model="@_user" FormName="register" OnSubmit="HandleRegister">
            <form>
                <div>
                    <br />
                    <button type="submit" class="btn btn-hover" style="width: 150px;"><span>Sign Up</span></button>
                </div>
            </form>
        </EditForm>
    }
    else
    {
        <h1>You are signed in.</h1>
        <hr />
        <EditForm Model="@_user" FormName="logout" OnSubmit="LogOut">
            <form>
                <div>
                    <button type="submit" class="btn btn-danger">Sign out</button>
                </div>
            </form>
        </EditForm>
    }
</div>

@code {
    private User _user { get; set; } = new User(string.Empty);

    private void LogOut()
    {
        Globals.isLoggedIn = false;
        NavigationManager.NavigateTo("/profile");
    }

    private void HandleRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
    private void HandleLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
